.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 32px;
}

.form-input {
  width: 100%;
  height: 3rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 2px solid #fbbf24;
  outline: 2px solid transparent;
  outline-offset: 2px;
  line-height: 1rem;
  font-size: 1.25rem;
}

.form-input:focus,
.form-input:active {
  border-color: rgb(217, 119, 6);
}

.form-submit {
  padding: 0.75rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-color: transparent;
  color: white;
  font-weight: 700;
  background-color: #10b981;
  font-size: 1.25rem;
  width: 5rem;
}

.list {
  padding: 2rem;
  width: 100%;
  min-height: 30rem;
  box-shadow: 0 0 transparent, 0 0 transparent,
    0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: red;
  background-color: rgb(254, 243, 199);
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.list-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-heading p {
  color: #b45309;
}

.list-heading select {
  padding: 0.25rem;
  border: 2px solid #d97706;
  border-radius: 0.5rem;
  font-size: 1.1rem;
}

.list-item {
  margin-top: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(253, 230, 138);
  cursor: pointer;
}

.list-item p {
  font-family: Pangolin, cursive;
  transition-duration: 0.2s;
  font-size: 1.5rem;
  line-height: 2rem;
  transition-duration: 0.2s;
}

.list-item i {
  font-size: 1.1rem;
  color: #d97706;
  visibility: hidden;
  transition-duration: 0.15s;
}

.list-item:hover i {
  visibility: visible;
}

.line-through {
  text-decoration: line-through;
}

.text-gray-400 {
  color: rgb(156, 163, 175);
}
